<div class=container4>
  <mdb-card>
    <!-- Material form contact -->
    <div class="card">

      <h1 class="card-header  black-text text-center py-4">
        <strong><i class="fas fa-user"></i></strong>
      </h1>
      <h2 class="text-info">username: {{userdata.username}} </h2>
      <h2 class="text-info">Full name: {{userdata.name}} </h2>
      <h2 class="text-info"><i class="fas fa-at">:</i> {{userdata.email}}</h2>
      <h2 class="text-info"><i class="fas fa-birthday-cake">:</i> {{userdata.date}}</h2>


    </div>
    <!-- Material form contact -->
  </mdb-card>
</div>
